<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Albedo" version="1.0.0" targetFramework="net451" />
  <package id="Autofac" version="3.3.1" targetFramework="net451" />
  <package id="AutoFixture" version="3.18.3" targetFramework="net451" />
  <package id="AutoFixture.AutoNSubstitute" version="3.18.3" targetFramework="net451" />
  <package id="AutoFixture.Idioms" version="3.18.3" targetFramework="net451" />
  <package id="NSubstitute" version="1.7.2.0" targetFramework="net451" />
  <package id="NUnit" version="2.6.3" targetFramework="net451" />
  <package id="Shouldly" version="2.1.1" targetFramework="net451" />
  <package id="ThirdDrawer" version="1.0.1.4" targetFramework="net451" />
</packages>