<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EnvironmentType" value="Local" />
    <add key="MinimumLogLevel" value="Debug" />
    <add key="NimbusConnectionString" value="Endpoint=sb://{MachineName}/ChatterBox;StsEndpoint=https://{MachineName}:9355/ChatterBox;RuntimePort=9354;ManagementPort=9355" />
    <add key="FactStoreDirectoryPath" value="C:\Artifacts\FactStore"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ThirdDrawer" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1.4" newVersion="1.0.1.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NSubstitute" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.2.0" newVersion="1.7.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>